/**************************************************************************************************\
*
* vim: ts=3 sw=3 et wrap co=100 go-=b
*
* Filename: "style.css"
*
* Project: GovHack 2024.
*
* Purpose: Sylesheet.
*
* Author: Tom McDonnell 2024.
*
\**************************************************************************************************/

body {
   font-family: verdana;
   margin: 0;
   min-width: 1212px;
   padding: 0;
   width: 1212px;
}

h1 {
   font-size: 50px;
}

#side-panel {
   float: left;
   height: 741px;
   padding-left: 10px;
   width: 200px;
}

#canvas {
   border: 1px solid black;
   background-image: url('images/tracks/northern_territory_1000x1000.png');
   float: right;
}

#mission-intro-slide {
   background-color: white;
   border: 10px solid black;
   height: 200px;
   left: 100px;
   position: absolute;
   top: 700px;
   width: 1000px;
}

#mission-intro-slide > img {
   float: left;
}

#mission-intro-slide > p {
   float: left;
   padding-left: 20px;
   font-size: 20px;
   width: 600px;
}

#mission-intro-slide > button {
   float: right;
   font-size: 20px;
   font-weight: bold;
   padding: 10px;
   margin-top: 153px;
}

#start-game-button {
   padding: 20px;
   position: absolute;
   font-size: 50px;
   font-weight: bold;
   left: 500px;
   top: 500px;
}

/*******************************************END*OF*FILE********************************************/
